html {
  box-sizing: border-box;
  text-decoration: none;
  background-color: #f0eee8;
}

*, *::before, *::after {
  box-sizing: inherit;
}

a {
  display: inline-block;
  text-decoration: none;
  font-family: Georgia, sans-serif;
  font-size: 1rem;
  padding: .2em .9em;
}

h2 {
  font-family: Dosis, sans-serif;
  font-size: 1.5rem;
  margin: 1rem 0 0;
}

div {
  border-top: solid #785439;
  border-width: 2px;
}

dl {
  font-size: .875rem;
}

dd {
  display: inline-block;
  width: 45%;
  font-style: italic;
  margin: 0;
}

dt {
  display: inline-block;
  width: 45%;
}

footer {
  font-size: 1.5rem;
  text-align: center;
}

.btn {
  display: inline-block;
  padding: .4em .75em .5em;
  font-family: Dosis, sans-serif;
  font-weight: 100;
  font-size: 1rem;
  border: solid #785439;
  border-radius: 8px;
  color: #fff;
  background-color: #785439;
}

.link-card {
  color: #512200;
  line-height: 1.5;
  border-radius: 8px;
  border: solid #9a816d;
  background-color: #dcd4cd;
}

.link-card h2 {
  font-weight: bold;
}

.link-card:hover {
  background-color: #cabdb2;
}
